/* .popover-slot, */
.background-wrapper {
	border: 1px dotted #f00;
	padding:12px;
	margin:12px;
}
/* .components-notice__content{display:none;} */



.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.wp-block-un-block-background-wrapper{
	min-height:100vh;
	background-size:cover;
	background-position:50% 50%;
	background-attachment: fixed;
	background-repeat:no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}
.background-wrapper-container{
	width: 100%;
	background-color: rgba(255,255,255,.7);
	margin:0 auto;
	padding: 2em;
	border-radius: 5px;
	margin-bottom: 4%;
}
.pre{max-height:30vh;overflow:auto;}
.edit-post-visual-editor .background-wrapper>.components-button.has-icon{background-color:#fff;}