/* .popover-slot, */
.background-wrapper {
	border: 1px dotted #f00;
	padding:12px;
	margin:12px;
}
/* .components-notice__content{display:none;} */



.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.wp-block-un-block-background-wrapper{
	min-height:100vh;
	background-size:cover;
	background-position:50% 50%;
	background-attachment: fixed;
	background-repeat:no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}
.background-wrapper-container{
	width: 100%;
	background-color: rgba(255,255,255,.7);
	margin:0 auto;
	padding: 2em;
	border-radius: 5px;
	margin-bottom: 4%;
}
.pre{max-height:30vh;overflow:auto;}
.edit-post-visual-editor .background-wrapper>.components-button.has-icon{background-color:#fff;}


.wp-block-un-block-slide{
	border:5px solid #555;
}

.wp-block{
	.wp-block-un-block-slide{

		select{padding:0 10px;}
		button.components-color-palette__item{padding:1em;border:1px solid #000;border-radius: 3px;}
		.un-block-content-container{
			.un-block-content{
				max-width:80%;
				max-height:80%;

				&.vertical-top{margin-top:0%;margin-bottom:20%;}
				&.vertical-middle{margin-top:10%;margin-bottom:10%;}
				&.vertical-bottom{margin-top:20%;margin-bottom:0%;}

				&.horizontal-left{margin-left:0%;margin-right:20%;}
				&.horizontal-center{margin-left:10%;margin-right:10%;}
				&.horizontal-right{margin-left:20%;margin-right:0%;}


				.wp-block-buttons>.wp-block.wp-block-button{
					margin-top: 0;margin-bottom: 0;
				}
			}
		}
	}
	
}