
.slick-track{
	white-space:nowrap;
	display:flex;
	align-items:center;
	flex-wrap: nowrap;
	>*{white-space:initial;}
}
.slick-initialized .slick-slide {
	display: inline-block;float:none;
}
.slick-slide>div {
	margin: 0 auto;
	width: fit-content;
}
.slick-slide-caption{
	white-space: initial;
}

button.slick-prev.slick-arrow,button.slick-next.slick-arrow{background-color:transparent!important;}
button.slick-prev.slick-arrow ~ .slick-list.draggable {
	margin-left: 50px;
	margin-right: 50px;
}


/* .slick-prev{left:-25px;}
.slick-next{right:-25px;} */


.slick-slide-caption{min-width:50%;}

